/* .tiptap p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.tiptap h1 {
  font-weight: bolder;
  font-size: 2em;
  margin: 0.3em 0;
}
.tiptap h2 {
  font-weight: bolder;
  font-size: 1.5em;
  margin: 0.3em 0;
}
.tiptap h3 {
  font-weight: bolder;
  font-size: 1.17em;
  margin: 0.3em 0;
}

.ProseMirror:focus {
  outline: none;
}

.collaboration-cursor__caret {
  border-left: 1px solid #0d0d0d;
  border-right: 1px solid #0d0d0d;
  margin-left: -1px;
  margin-right: -1px;
  pointer-events: none;
  position: relative;
  word-break: normal;
}

/* Render the username above the caret */
.collaboration-cursor__label {
  border-radius: 3px 3px 3px 0;
  color: #0d0d0d;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  left: -1px;
  line-height: normal;
  padding: 0.1rem 0.3rem;
  position: absolute;
  top: -1.4em;
  user-select: none;
  white-space: nowrap;
}

p {
  margin: 0.4em 0;
}

.ProseMirror {
  .tiptap-thread {
    &--block {
      @apply contents;
    }
  }

  .tiptap-thread--block > :not(p, h1, h2, h3, h4, h5, h6, li) {
    @apply p-2;
  }

  .tiptap-thread--unresolved {
    @apply bg-yellow-400/20 border-b-2 border-yellow-400 rounded-sm;
  }

  .tiptap-thread--unresolved.tiptap-thread--hovered {
    @apply bg-yellow-400/40;
  }

  .tiptap-thread--block.tiptap-thread--unresolved > * {
    @apply bg-yellow-400/20 border-b-2 border-yellow-400;
  }

  .tiptap-thread--block.tiptap-thread--unresolved.tiptap-thread--hovered > * {
    @apply bg-yellow-400/40;
  }
}

blockquote {
  border-left: 3px solid grey;
  padding-left: 1rem;
}

/* *******************Editor Styles****************** */

.editorContentScreen {
  background: rgba(0, 0, 0, 0.5);
  box-shadow:
    0px 5px 10px rgba(0, 0, 0, 0.1),
    0px 15px 30px rgba(0, 0, 0, 0.1),
    0px 20px 40px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(10px);
}

.dividerLine {
	background: linear-gradient(
		to right,
		transparent 10%,
		rgba(255, 255, 255, 0.07) 30%,
		transparent 100%
	);
	height: 1px;
}

/* .editorGlow {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 458px;
	background: conic-gradient(
		from 135.55deg at 40.63% 50.41%,
		rgba(159, 115, 241, 0) -48.92deg,
		rgba(242, 98, 181, 0) 125.18deg,
		#5fc5ff 193.41deg,
		#ffac89 216.02deg,
		#8155ff 236.07deg,
		#789dff 259.95deg,
		rgba(159, 115, 241, 0) 311.08deg,
		rgba(242, 98, 181, 0) 485.18deg
	);
	opacity: 0.3;
	filter: blur(35px);
	border-radius: 10px;
	z-index: 0;
	order: 0;
}

.editorGlow1 {
	position: absolute;
	bottom: 207px;
	top: 204px;
	left: -44px;
	right: 54px;
	background: conic-gradient(
		from -44.45deg at 40.63% 50.41%,
		rgba(159, 115, 241, 0) -48.92deg,
		rgba(242, 98, 181, 0) 125.18deg,
		#5fc5ff 193.41deg,
		#ffac89 216.02deg,
		#8155ff 236.07deg,
		#789dff 259.95deg,
		rgba(159, 115, 241, 0) 311.08deg,
		rgba(242, 98, 181, 0) 485.18deg
	);
	opacity: 0.3;
	filter: blur(90px);
	border-radius: 10px;
	z-index: 1;
	order: 1;
	transform: rotate(90deg);
}

.editorGlow2 {
	position: absolute;
	left: 14px;
	right: 10px;
	top: 417px;
	bottom: -10px;
	background: conic-gradient(
		from 135.55deg at 40.63% 50.41%,
		rgba(159, 115, 241, 0) -48.92deg,
		rgba(242, 98, 181, 0) 125.18deg,
		#5fc5ff 193.41deg,
		#ffac89 216.02deg,
		#8155ff 236.07deg,
		#789dff 259.95deg,
		rgba(159, 115, 241, 0) 311.08deg,
		rgba(242, 98, 181, 0) 485.18deg
	);
	opacity: 0.3;
	filter: blur(60px);
	border-radius: 10px;
	z-index: 2;
	order: 2;
	transform: rotate(180deg);
} */

.editorContent {
  box-shadow:
    0px 5px 10px rgba(0, 0, 0, 0.05),
    0px 15px 30px rgba(0, 0, 0, 0.15),
    0px 20px 40px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.5);
}

.leftSidebarGlow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 294px;
  background: conic-gradient(
    from 195.7deg at 50% 50%,
    #7147ff 0deg,
    rgba(66, 232, 255, 0) 95.01deg,
    rgba(255, 126, 171, 0.5) 185.59deg,
    #3083ff 274.88deg,
    #7147ff 360deg
  );
  opacity: 0.2;
  filter: blur(60px);
  border-radius: 10px;
  transform: rotate(90deg);
}

.leftSidebarGlow1 {
  left: 18px;
  right: 23px;
  bottom: 142px;
  height: 158px;
  position: absolute;
  background: conic-gradient(
    from 195.7deg at 50% 50%,
    #7147ff 0deg,
    rgba(66, 232, 255, 0) 95.01deg,
    rgba(255, 126, 171, 0.5) 185.59deg,
    #3083ff 274.88deg,
    #7147ff 360deg
  );
  opacity: 0.2;
  filter: blur(60px);
  border-radius: 10px;
  transform: rotate(76.45deg);
}

.inputBlur {
  background: rgba(255, 255, 255, 0.1);
  box-shadow:
    0px 1px 0px rgba(0, 0, 0, 0.05),
    0px 4px 4px rgba(0, 0, 0, 0.05),
    0px 10px 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
}

.article-editor-sidebar-bg {
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.07);
  box-shadow:
    0px 5px 10px rgba(0, 0, 0, 0.1),
    0px 15px 30px rgba(0, 0, 0, 0.1),
    0px 20px 40px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(10px);
}

.sidebar-seperator {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  border-radius: 10px;
}

.prompt-pop-up-scrollbar::-webkit-scrollbar {
  width: 4px; /* Slim scrollbar width */
}

.prompt-pop-up-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Invisible track background */
}

.prompt-pop-up-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2); /* Faint scrollbar color */
  border-radius: 10px; /* Rounded scrollbar */
}

.prompt-pop-up-scrollbar:hover::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.4); /* Slightly more visible on hover */
} */
